{% extends 'base.html.twig' %}

{% block title %}Hello FondsStructureController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Mon test</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
